/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do header */
header {
    background-color: #006400;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo do título */
h1 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilo do formulário */
form {
    margin: 20px auto;
    max-width: 350px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilo dos rótulos e campos de entrada */
label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilo dos botões */
button {
    padding: 10px 20px;
    background-color: #006400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #00f000;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}
